.gradients div{
    width: 271px;
    height: 160px;
    float: left;
    margin-right: 20px;
}

.gradients:after{
    content: "";
    display: table;
    clear: both;
}

.linear{
    background: linear-gradient(to bottom right, #ff6e02, #ffff00, #ff6d00);
}

.radial{
    background: radial-gradient(circle closest-side at center, #290a59 0, #ff7c00 100%);
}

.scale{
    width: 200px;
    height: 200px;
    position: relative;
    left: calc(50% - 200px);
    background: red;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 200px;
    color: white;
    transition: 2s;
}

.scale:hover{
    transform: scale(2);
}

.perspective{
    perspective: 1000px;
}

.perspective:hover .card{
    transform: rotateY(-180deg);
}

.card{
    transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
    padding-top: 35px;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
    color: white;
}

.perspective, .front, .back{
    width: 200px;
    height: 300px;
}

.front,.back{
    backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
    display: table;
}

.card h1{
    display: table-cell;
    vertical-align: middle;
}

.front {
    background-color: blue;
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
    background-color: green;
	transform: rotateY(-180deg);
}